src/Applications/TransferFunctions/TF/TFScheme.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT TFScheme (TFFunction+)>
<!ATTLIST TFScheme name ID #REQUIRED>

<!ELEMENT TFFunction (TFPoint*)>
<!ATTLIST TFFunction
  name ID #REQUIRED
  colourR CDATA "0"
  colourG CDATA "0"
  colourB CDATA "0">

<!ELEMENT TFPoint EMPTY>
<!ATTLIST TFPoint
  x ID #REQUIRED
  y CDATA "0">